.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: rgb(0, 0, 0);
  padding: 20px;
}

.mark_input{
  width: 100%;
  height: auto;
  min-height: 71vh;
  margin-left: "auto";
  margin-right: "auto";
  padding:"10px";
  font-size: 14px;
  border: 2px solid black;
  background: #215f00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.preview_input{
  background: #215f00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: left;
  font-size: 14px;
  width: 100%;
  min-height: 50vh;
  height: auto;
  margin-left: "auto";
  margin-right: "auto";
  padding:"10px";
  border: 2px solid black;
}
.preview_input code{
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}
.preview_input pre{
  background-color: white;
  padding: 10px;
}
